- provide :page_title, 'FoxPay Dashboard'
.row
  .col-12.col-md-4
    .card.shadow
      .card-block
        .card-title.text-center
          Today's Outlook
        .card-text
          .row.justify-content-center.my-3
            .btn.bg-purple.text-white.rounded-0
              = current_user.total_today if current_user.present?
          .row.justify-content-center.my-3
            .btn.bg-green.text-white.rounded-0 RM 110.00
          .row.justify-content-center.my-3
            .btn.bg-red.text-white.rounded-0 RM 110.00
  .col-12.col-md-8
    .card.my-sm-0.mt-3
      .card-block
        .card-title.text-center
          FoxPay Live Chat
.row.mt-3
  .col-12.col-md-6.col-lg-4
    .card.my-sm-0.mt-3
      .card-block
        .card-title.text-center
          Local Top Up Status
        .card-text
          .row
            .col-6
              .row
                .col-6
                  = image_tag 'telcologo/hotlink.png', class: 'img-fluid max-50'
                .col-6
                  Online
            .col-6
              .row
                .col-6
                  = image_tag 'telcologo/umobile.png', class: 'img-fluid max-50'
                .col-6
                  Online
          .row
            .col-6
              .row
                .col-6
                  = image_tag 'telcologo/digi.png', class: 'img-fluid max-50'
                .col-6
                  Online
            .col-6
              .row
                .col-6
                  = image_tag 'telcologo/tunetalk.png', class: 'img-fluid max-50'
                .col-6
                  Online
          .row
            .col-6
              .row
                .col-6
                  = image_tag 'telcologo/onexox.png', class: 'img-fluid max-50'
                .col-6
                  Online
            .col-6
              .row
                .col-6
                  = image_tag 'telcologo/xpax.png', class: 'img-fluid max-50'
                .col-6
                  Online
  .col-12.col-md-6.col-lg-5
    .card.my-sm-0.mt-3
      .card-block
        .card-title.text-center
          My Monthly Commitment
        .card-text
          Graph Here
  .col-12.col-lg-3
    .card.my-lg-0.mt-3
      .card-block
        .card-title.text-center
          Monthly Ranking
        .card-text.text-left
          .d-block 1. Teset 5347
          .d-block 1. Teset 5347
          .d-block 1. Teset 5347
          .d-block 1. Teset 5347
          .d-block 1. Teset 5347
          .d-block 1. Teset 5347
