%h2 Transaction History
.card
  %table.table
    %thead
      %tr
        %th Datetime
        %th Operator
        %th Amount
        %th Phone Number
        %th Status
        %th Status Reply
        %th Commission
    %tbody
      -current_user.transactions.each do |transaction|
        %tr
          %td
            = transaction.created_at
          %td
            = Operator.find(transaction.operator_id).operator_name
          %td
            = transaction.amount
          %td
            = transaction.phone_number
          %td
            = transaction.status
          %td
            = transaction.status_reply
          %td
            = transaction.commission
