- provide :page_title, 'Transaction History'
.row
  .col-12
    %table.table.table-responsive.card
      %tr.card-block
        %td Date-Time
        %td Operator
        %td Amount
        %td Phone Number/PIN
        %td Status
        %td Status Reply
        %td Commission
      -current_user.transactions.each do |transaction|
        %tr
          %td
            = transaction.created_at
          %td
            = @operators.find(transaction.operator_id).operator_name

          %td
            = transaction.amount
          %td
            = transaction.phone_number
          %td
            = transaction.status
          %td
            = transaction.status_reply
          %td
            = transaction.commission
