#mySidenav.sidenav.text-right.bg-red.py-5
  %h3.text-menu
    = link_to 'FoxPay', root_path, class: 'h-2-2 mt-3 text-white d-inline-block'
    = link_to 'Dashboard', root_path, class: 'h-2-2 mt-3 text-white d-block'
    = link_to 'Local Top Up', new_transaction_path, class: 'h-2-2 mt-3 text-white d-block'
    = link_to 'International Top Up', new_international_top_up_path, class: 'h-2-2 mt-3 text-white d-block'
    = link_to 'PIN', new_pin_path, class: 'h-2-2 mt-3 text-white d-block'
    = link_to 'Bill Payment', '', class: 'h-2-2 mt-3 text-white  d-block'
    = link_to 'Transactions History', transactions_path, class: 'h-2-2 mt-3 text-white d-block'
    = link_to 'E-Wallet',wallets_path, class: 'h-2-2 mt-3 text-white d-block'
    = link_to 'My Account', '', class: 'h-2-2 mt-3 text-white d-block'
    = link_to 'Agent Registration', '', class: 'h-2-2 mt-3 text-white d-block'
    = link_to 'Help', '', class: 'h-2-2 mt-3 text-white d-block'
    = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'h-2-2 mt-3 text-white d-block'
