#mySidenav.sidenav.bg-red
  %h3
    = link_to 'FoxPay', root_path, class: 'text-white'
    %a.closebtn{:href => "javascript:void(0)", :onclick => "closeNav()"} ×
  %ul.list-unstyled.components
    %li.active
      %a{:href => "#"} Dashboard
    %li
      = link_to 'Local Top Up', local_top_up_transactions_path, class: 'text-white'
    %li
      %li= link_to 'International Top Up', international_top_up_transactions_path, class: 'text-white'
    %li
      %li= link_to 'PIN', new_pin_path, class: 'text-white'
    %li
      %a{:href => "#"} Bill Payment
    %li
      %li= link_to 'Transactions History', transactions_path, class: 'text-white'
    %li
      %a{:href => "#"} E-Wallet
    %li
      %li= link_to 'My Account', edit_user_registration_path, class: 'text-white'
    %li
      %a{:href => "#"} Agent Registration
    %li
      %a{:href => "#"} Help

:javascript
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }

  function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
  }
