!!!
%html{style: 'height: 100%;'}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title foxy
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #main
      = render 'layouts/flashes'
      .container.mx-0{ style: "height: 100%;"}
        .row
          .col-1.bg-red
            = render 'layouts/menu'
            %span{:onclick => "openNav()"} open
          .col-11
            = yield
